/* Reset Defaults */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #a93a41;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #fff;
  background: #a93a41;
  border-radius: 5px;
  height: 500px;
  width: 350px;
}

.card .title {
  font-size: 45px;
  color: #fff;
}

.card .number {
  font-size: 100px;
  color: #fff;
}

.card .buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn a {
  border: 1px solid #fff;
  padding: 10px 20px;
  margin: 5px 10px;
  color: #fff;
  font-size: 30px;
}

.btn:hover a {
  background: #fff;
  color: #a93a41;
  opacity: 0.9;
  transition: 0.2s;
}

.hide {
  display: none;
}
